prepare_model:
  model_type: 'ResNet' # ['SingleCNN', 'ResNet', 'LoadedModel']
  tasks: ['skydirection'] # ['type', 'energy', 'cameradirection', 'skydirection']
  input_shape: [96, 96, 2] # No change
  num_classes: 1 # 2 for type classification, 1 for energy and direction regression
  temp_dir: '/home/users/v/varenneh/models/skydirection/temp/' # Place to store temporary model (intermediate steps)
  CTLearnModel: # For non-resnet models to make it work requires values to be null
    attention_mechanism: null
    attention_reduction_ratio: null

#  CustomModel: # Only if Loaded Model
#    model_filename: "ComplexModel"
#    model_name: "ComplexName"

training_model:
  TrainCTLearnModel:
    output_dir: "/home/users/v/varenneh/models/skydirection/resnet/" # Where model is saved
    input_dir_signal: "/srv/beegfs/scratch/shares/upeguipa/SST1M/data/gammas_diffuse/reduce_train/" # Gamma values to use
    file_pattern_signal: ["gamma_*.h5"] # Pattern for signal files
    model_type: 'LoadedModel' # ['SingleCNN', 'ResNet', 'LoadedModel'] (same as in prepare_model)
    reco_tasks: 'skydirection' # ['type', 'energy', 'cameradirection', 'skydirection'] (same as in prepare_model)
    n_epochs: 100
    batch_size: 512
    overwrite: true # No changes
    quiet: false # No changes
    percentage_per_epoch: 0.05 # Percentage of batches taken in account per epoch
    log_level: "DEBUG" # No changes
#    pruning_model: # Pruning settings to use
#      initial_sparsity: 0.50
#      final_sparsity: 0.90
#      begin_step: 0
    early_stopping: # early-stopping parameters
      monitor: 'val_loss'
      patience: 7
      verbose: 1
      min_delta: 0.001
      restore_best_weights: true
      start_from_epoch: 5
    stack_telescope_images: true # Always for skydirection
    DLImageReader:
      mode: "stereo" # Only stereo for skydirection (cameradirection for mono)

  CTLearnModel: # For non-resnet models to make it work requires values to be null
    attention_mechanism: null
    attention_reduction_ratio: null
    load_model_from: "/home/users/v/varenneh/models/skydirection/temp/" # Where model is stored

testing_model:
  data_path: "/srv/beegfs/scratch/shares/upeguipa/SST1M/data/" # Path to data
  PredictCTLearnModel:
    stack_telescope_images: true # Always for skydirection
    DLImageReader:
      mode: "stereo" # Same as training
